* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background-color: #23424A;
  color: white;
  margin: 0 auto;
  width: 80%;
  padding: 2em;
}

.intro-content {
  width: 50%;
}